model/saved_model.pb filter=lfs diff=lfs merge=lfs -text
model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
model/variables/variables.index filter=lfs diff=lfs merge=lfs -text
